/*-----------------------------------------------------------*/

/* BASIC SETUP*/

/*-----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: rgb(146, 146, 146);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----------------------------------------------------------*/

/* REUSABLE COMPONENTS*/

/*-----------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 90px 0;
}

.box {
    padding: 1%;
}

/*-----------------------------------------------------------*/

/* HEADER*/

/*-----------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(33, 47, 145, 0.80)), url(img/ComradesGen/comradesGen/TGP_4317.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

.hero-text-box p {
    color: rgba(238, 236, 236, 0.61);
}

.hero-text-box .btn {
    margin-top: 20px
}

.white-logo {
    height: 200px;
    width: auto;
    float: left;
    transform: translate(-90%, 0%);
    margin-top: 20px;
}

/*main nav*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    transform: translate(20%, -750%);
}

.main-nav li {
    display: inline-block;
    margin-left: 60px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #c9710e;
}

/*Sticky nav*/

.sticky {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 2px 2px #888;
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    padding: 8px 0;
    color: #555;
}

.black-logo {
    display: none;
    height: 60px;
    margin: 5px 0;
    float: left;
    width: auto;
}

.sticky .white-logo {
    display: none
}

.sticky .black-logo {
    display: block;
}

.sticky .main-nav {
    margin-top: 130px;
    align-content: center;
}

nav {
    height: 8vh;
}

/*-----------------------------------------------------------*/

/* HEADINGS*/

/*-----------------------------------------------------------*/

h1, h2, h3 {
    font-weight: 200;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    color: #2B2B2E;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgba(33, 47, 145, 0.80);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: #2B2B2E;
}

/*-----------------------------------------------------------*/

/* PARAGRAPGHS*/

/*-----------------------------------------------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    color: #585858;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-----------------------------------------------------------*/

/* HOTELS*/

/*-----------------------------------------------------------*/

.hotel .long-copy {
    margin-bottom: 30px;
}

/*-----------------------------------------------------------*/

/* ICONS*/

/*-----------------------------------------------------------*/

i {
    color: rgba(33, 47, 145, 0.80);
    display: block;
}

.icon-big {
    font-size: 300%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/*-----------------------------------------------------------*/

/* BUTTONS*/

/*-----------------------------------------------------------*/

.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited {
    background-color: #f0932b;
    border: 1px solid #f0932b;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #f0932b;
    color: #f0932b;
}

.btn:hover, .btn:active {
    background-color: #c9710e;
}

.btn-full:hover, .btn-full:active {
    border: 1px solid #c9710e;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #c9710e;
    color: #fff;
}

/*-----------------------------------------------------------*/

/* Legends SECTION*/

/*-----------------------------------------------------------*/

.barry-section .btn, .bruce-section .btn {
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    border: 2px solid;
}

.super-important {
    color: rgba(33, 47, 145, 0.80);
}

/*-----------------------------------------------------------*/

/* HOTELS*/

/*-----------------------------------------------------------*/

.hotel li {
    padding-bottom: 4px;
}

.hotel-name {
    display: block;
    text-align: center;
}

.hotel p, .hotel ul {
    color: #797979;
    transition: color 0.4s;
}

.hotel p:hover, .hotel ul:hover {
    color: #2B2B2E;
    cursor: default;
}

.hotel .box {
    padding-right: 10px;
}

.hotel-gallery {
    padding: 0;
    margin-top: 5%;
}

.hotel-showcase {
    list-style: none;
    width: 100%;
}

.hotel-showcase li {
    padding: 0;
    display: block;
    float: left;
    width: 25%;
}

.hotel-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.hotel-photo img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.4);
    transition: transform 0.5s, opacity 0.5s;
}

.hotel-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*-----------------------------------------------------------*/

/* STEPS*/

/*-----------------------------------------------------------*/

.section-steps {
    margin-top: 10%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.800)), url(img/ComradesGen/comradesGen/_TOB7932.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-steps h2 {
    font-weight: 400;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.blue-logo {
    width: 80%;
    padding-top: 5%
}

.step {
    margin-bottom: 50px;
}

.step p {
    color: #2B2B2E;
    padding-top: 10px;
    font-weight: 500
}

.step div {
    color: rgba(33, 47, 145, 0.80);
    border: 3px solid rgba(33, 47, 145, 0.80);
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    font-weight: 500;
    margin-right: 25px;
}

/*-----------------------------------------------------------*/

/* SIGN UP */

/*-----------------------------------------------------------*/

.section-packages {
    margin-bottom: 10%;
}

.package-box {
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 3px 6px 8px #00000054;
}

.package-box:hover {
    border-radius: 7px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 8px 8px #00000054;
}

.package-box div {
    padding: 15px;
    border-bottom: 1px solid #dddddd
}

.package-price {
    text-align: center;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: rgba(33, 47, 145, 0.80);
}

.package-price-addon {
    font-size: 80%;
}

.package-box ul {
    list-style: none;
}

.package-box ul li {
    padding: 5px 0;
    margin-top: 10px;
}

.section-packages .btn {
    widows: 30%;
    margin-left: 35%;
}

/*-----------------------------------------------------------*/

/* FOOTER */

/*-----------------------------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li, .social-icons li {
    display: inline-block;
    margin-right: 20px;
}

footer-nav li:last-child, .social-icons li:last-child {
    margin: 0;
}

/* social icons not styling from style sheet !!!!! */

.footer-nav li a:link, .footer-nav li a:visited, .social-icons li a :link, .social-icons li a:visited {
    color: #888;
    text-decoration: none;
    border: 0;
    transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active {
    color: #c9710e;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 40px;
}

/*-----------------------------------------------------------*/

/* FORMs */

/*-----------------------------------------------------------*/

input, select, textarea {
    margin: 10px;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgba(33, 47, 145, 0.80);
}

input[type=submit], input[type=submit] {
    color: #fff;
    background-color: #f0932b;
    border-color: #f0932b;
}

input[type=submit]:hover, input[type=submit]:active {
    background: #c9710e;
    border-color: #c9710e;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

textarea {
    height: 100px;
}

/*-----------------------------------------------------------*/

/* Contact FORMs */

/*-----------------------------------------------------------*/

.contact-form {
    width: 70%;
    margin: 0 auto #585858;
    margin: 0 auto;
}

/*-----------------------------------------------------------*/

/* MODAL CONTACT */

/*-----------------------------------------------------------*/

.modal-contact {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.500);
}

.modal-content {
    text-align: center;
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.200), 0 7px 20px 0 rgba(0, 0, 0, 0.170);
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 40px;
}

.closeBtn:hover, .closeBtn:focus {
    color: rgba(33, 47, 145, 0.80);
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------------------------------------*/

/* MODAL BARRY */

/*-----------------------------------------------------------*/

.modal-barry {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.500);
}

.closeBtn-barry {
    color: #ccc;
    float: right;
    font-size: 40px;
}

.closeBtn-barry:hover, .closeBtn-barry:focus {
    color: rgba(33, 47, 145, 0.80);
    text-decoration: none;
    cursor: pointer;
}

.modal-content-barry, .modal-content-bruce {
    text-align: center;
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.200), 0 7px 20px 0 rgba(0, 0, 0, 0.170);
    overflow: auto;
}

/*-----------------------------------------------------------*/

/* MODAL SIGN UP */

/*-----------------------------------------------------------*/

.modal-signup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.500);
}
.modal-signup .row{
 margin-top: 10%;
}
.closeBtn-signup {
    color: #ccc;
    float: right;
    font-size: 40px;
}

.closeBtn-signup:hover, .closeBtn-signup:focus {
    color: rgba(33, 47, 145, 0.80);
    text-decoration: none;
    cursor: pointer;
}

.modal-content-signup {
    text-align: center;
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.200), 0 7px 20px 0 rgba(0, 0, 0, 0.170);
    overflow: auto;
}


/*-----------------------------------------------------------*/

/* MODAL BRUCE */

/*-----------------------------------------------------------*/

.modal-bruce {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.500);
}

.closeBtn-bruce {
    color: #ccc;
    float: right;
    font-size: 40px;
}

.closeBtn-bruce:hover, .closeBtn-bruce:focus {
    color: rgba(33, 47, 145, 0.80);
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------------------------------------*/

/* IMAGE SLIDER */

/*-----------------------------------------------------------*/

.container {
    height: 540px;
    margin: 40px Auto;
}

.slider-inner, .slider-inner-bruce {
    margin-top: 5%;
    width: 500px;
    height: 320px;
    position: relative;
    overflow: hidden;
}

.slider-inner img, .slider-inner-bruce img {
    display: none;
    width: 500px;
    height: 320px;
}

.slider-inner img.active {
    display: inline-block;
    border: rgba(33, 47, 145, 0.80) solid 3px;
}

.slider-inner-bruce img.active-bruce {
    display: inline-block;
    border: rgba(33, 47, 145, 0.80) solid 3px;
}

.prev, .next, .prev-bruce, .next-bruce {
    font-size: 250%;
    font-weight: 600;
    cursor: pointer;
}

.prev:hover, .prev:active, .next:hover, .next:active, .prev-bruce:hover, .prev-bruce:active, .next-bruce:hover, .next-bruce:active {
    color: rgba(33, 47, 145, 0.80);
    transition: color 0.5s;
}

.prev, .prev-bruce {
    position: relative;
    z-index: 2;
    float: left;
    margin-left: 20%;
}

.next, .next-bruce {
    position: relative;
    margin-right: 30%;
    z-index: 2;
    float: right;
}

.img-contain {
    height: auto;
    width: 100%;
}

.img-contain img {
    width: 100%;
    height: auto;
    border: 4px solid rgba(33, 47, 145, 0.80);
}

.comrades-section .btn {
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    border: 2px solid;
}

/*-----------------------------------------------------------*/

/* ITEN SLIDER */

/*-----------------------------------------------------------*/

.itinerary h3 {
    text-align: center;
    text-emphasis: bold;
}

.itinerary .center-contain {
    margin-left: 25%;
    margin-right: 25%;
    padding: 3px 3px;
}

.itinerary .btn {
    display: block;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 20px;
}

.itinerary p {
    text-align: center;
    margin-bottom: 10px
}

#slider {
    position: relative;
    width: 100%;
    height: 600px;
}

.slide ul {
    margin-top: 30px;
}

.slide li {
    padding-top: 4px;
    padding-bottom: 15px;
    color: #2B2B2E;
    line-height: 150%
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active-slide {
    display: block;
}

#left-arrow, #right-arrow {
    position: absolute;
    font-size: 200%;
    font-weight: 300;
    color: #000;
    cursor: pointer;
    margin-top: 10%;
}

#left-arrow:hover, #right-arrow:hover {
    font-size: 230%;
    font-weight: 600;
    color: rgba(33, 47, 145, 0.80);
}

#right-arrow {
    right: 30px;
}

#left-arrow {
    left: 30px;
}